src/main/mule/IndigoFlightsFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="IndigoFlightsFlowFlow" doc:id="b2ecb084-dcf9-4b3b-8a31-0da85cfb6596" >
		<logger level="INFO" doc:name="Logger" doc:id="65b7240c-8b7e-4fb5-9aee-354991bb762e" message="message received from UI------------------"/>
		<http:request method="GET" doc:name="Request" doc:id="8041e8f5-16ea-4af9-badf-746d9772f35e" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"from" : attributes.queryParams.source,
	"to" : attributes.queryParams.destination,
	"depatureDate" : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="97d4f907-74d4-4b0e-8007-fbce489c956a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fd7b77d9-9044-4f58-aad8-7cea435d9ff9" message="final message from Indigo flight---------------------#[payload]"/>
	</flow>
</mule>
